<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <style>
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100vh;
            flex-direction: column;
        }
    </style>
</head>

<body>
    <h1><%= title %></h1>

    <form action="/shorten" method="POST">
        <label for="longURL">Enter a URL to shorten:</label>
        <input type="text" id="longURL" name="longURL" required />
        <button type="submit">Shorten</button>
    </form>

    <% if (shortenedUrl) { %>
        <h3>Your shortened URL is: <a href="<%= shortenedUrl %>" target="_blank">
                <%= shortenedUrl %>
            </a></h3>
    <% } %>

    <h2>Recently Shortened URLs</h2>
    <ul>
        <% recentUrls.forEach(([shortcode, longURL]) => { %>
            <li><a href="/<%= shortcode %>" target="_blank">
                    <%= longURL %>
                </a></li>
        <% }) %>
    </ul>
    <footer style="margin-top: 20px; text-align: center;">
        <p>
            Follow me on: <br>
            Twitter
            <a href="https://twitter.com/dhokabeatz" target="_blank" style="text-decoration: none; color: #1DA1F2;">
                 @dhokabeatz
            </a><br>
            LinkedIn
            <a href="https://linkedin.com/in/dhokabeatz" target="_blank" style="text-decoration: none; color: #1DA1F2;">
                @dhokabeatz
           </a><br>
        </p>
    </footer>

</body>

</html>
